MyStoreAutomationFramework/.vs/MyStoreAutomationFramework/v17/.suo
MyStoreAutomationFramework/.vs/MyStoreAutomationFramework/v17/TestStore/0/002.testlog
MyStoreAutomationFramework/.vs/MyStoreAutomationFramework/v17/TestStore/0/testlog.manifest
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/MyStoreAutomation.deps.json
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/MyStoreAutomation.pdb
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/MyStoreAutomation.runtimeconfig.json
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/nunit.engine.dll
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/nunit_random_seed.tmp
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
MyStoreAutomationFramework/MyStoreAutomation/bin/Debug/net6.0/testhost.exe
MyStoreAutomationFramework/MyStoreAutomation/obj/MyStoreAutomation.csproj.nuget.dgspec.json
MyStoreAutomationFramework/MyStoreAutomation/obj/MyStoreAutomation.csproj.nuget.g.props
MyStoreAutomationFramework/MyStoreAutomation/obj/MyStoreAutomation.csproj.nuget.g.targets
MyStoreAutomationFramework/MyStoreAutomation/obj/project.assets.json
MyStoreAutomationFramework/MyStoreAutomation/obj/project.nuget.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.AssemblyInfo.cs
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.AssemblyInfoInputs.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.assets.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.csproj.AssemblyReference.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.csproj.BuildWithSkipAnalyzers
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.csproj.CopyComplete
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.csproj.CoreCompileInputs.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.csproj.FileListAbsolute.txt
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.GeneratedMSBuildEditorConfig.editorconfig
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.genruntimeconfig.cache
MyStoreAutomationFramework/MyStoreAutomation/obj/Debug/net6.0/MyStoreAutomation.pdb
MyStoreAutomationFramework/.vs/MyStoreAutomationFramework/DesignTimeBuild/.dtbcache.v2
MyStoreAutomationFramework/.vs/MyStoreAutomationFramework/v17/.futdcache.v1
